*{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
h2{
    font-weight: 600 !important;
    font-size: 2rem !important;
    line-height: 36px !important;
    display: flex;
    align-items: center;
    text-transform: uppercase !important;
    color: #333333;
}
h1{
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
p{
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 27px !important;
    display: flex;
    align-items: center;
    color: #666666;
}
/* Used for navbar */
.Navbar_main{
    box-sizing: border-box;
    position: absolute !important;
    width: 100%;
    height: 80px;
    left: 0px;
    top: -1px;
    background: #E5E7F3 !important;
    border: 0.3px solid #FFFFFF;
}
.nav-link{
    color: #666666 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    line-height: 21px !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    right: 200px !important;
}
a:hover { color: #666666 !important;  }
a:hover::after { width: 100%; }
.navbar_link:hover::after{
		transform: scaleX(1);
		transform-origin: bottom left;
		color: #666666 !important;
        background:linear-gradient(45deg,#DD1180 20%,#90213B 80%)!important;
}
.navbar_link::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background: linear-gradient(45deg,#DD1180 20%,#90213B 80%) !important;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
}
.nav-link:active{
    border-bottom:linear-gradient(45deg,#DD1180 20%,#90213B 80%) 2px solid !important;
    /* border-bottom: #90213B 2px solid !important; */
}

.loginbutton{
    box-sizing: border-box;
    position: absolute;
    width: 119px;
    height: 50px;
    left: 80%;
    top: 15px;
    background: linear-gradient(90deg, #333333 0%, #626262 113.45%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none !important;
    display: inline-block;
}
.logo{
    position: absolute !important;
    left: 12.71%;
    right: 86.83%;
    top: 0.39%;
    bottom: 98.85%;
}
.logocontainer{
    width:170px;
    height:60px;
    position: absolute;
    left: 183px;
    top: 8px;
}
.logoimage{
    width: 100%;
    height: 100%;
    border-radius: 0%;
}
.buttonicon{
    content: "";
    width: 25px;
    height: 17px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}
/* .................. */
/* Used for Footer */
.Footer{
    height: 625px;
    width: 100%;
    background: #000000;
    position: absolute;
    top:4000px ;
}
.Footersubscribe{
    width: 350px;
    height: 260px;
    background: rgb(28, 27, 27);
    mix-blend-mode: normal;
    margin-top: -20px !important;
    /* opacity: 0.1; */
}
.Footerform{
    color: #7A7E92 !important;
    z-index: 2;
}
.footerinput{
    width:248px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-left: -60%;
    border: none;
    color: #7A7E92 !important;
}
.Footertext{
    color: #FFFFFF;
    margin-left: 10%;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.Footertextp{
    color: #FFFFFF;
    font-size: 12px !important;
    font-weight: 400;
    margin-left: 10%;
    opacity: 0.6;
}
.footerbuttoniconcon{
    content: "";
    position: absolute;
    top: 96px;
    left: 77.4%;
    width: 50px;
    height: 48px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    background-color: black;
    background-position : center center;
    background-repeat:no-repeat;
    border-radius: 0px 10px 10px 0px;
}
.footerbuttonicon{
    width:30px;
    height: 25px;
    margin-top: 17%;
    margin-left: 10%;
}
h6{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
/* a.text-reset{
    color: white !important;
    opacity: 0.6;
} */
.text-reset{
    text-decoration: none !important;
}
.text-reset:hover{
    color: #E63E28 !important;
}
.footertextJON{
    color: #DD1180 !important;
    text-decoration: none !important;
}
.footertextJON:hover{
    color: #E63E28 !important;
}
.Footerimgcon{
    width: 220px;
    height: 26px;
    position: relative;
    left: 105%;
    top: -20px;
}
.Footerimg{
    border-radius: 0px;
}
.Fimgcon{
    width:400px;
    height: 90px;
    position: absolute;
    top: 410px;
    left: 800px;
}
.footericons{
    position: absolute;
    top: 75%;
    left: 70%;
}
.copyright{
    margin-left: 23%;
    color: #FFFFFF;
    margin-top: -25%;
}
.tpc{
    display: flex;
    width: 500px !important;
    margin-left: 57%;
    margin-top: 30px !important;
    margin-bottom: -30px;
    }
.tpctext{
    color: #FFFFFF;
    margin-left: 5%;
}

/* Used for Home page */
.homepageimagecontainer{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: 0.3px solid #F5F5F5;
}
.homepageimage{
    width: 100%;
    height: 100%;
}
.HPtextcontainer{
    position: absolute;
    width: 360px;
    height: 39px;
    left: 183px;
    top: 350px;
}
.HPtextcon1-h2{
    width: 450px;
    display: flex;
    align-items: center;
    text-transform: uppercase !important;
    color: #333333;
}
.HPbutton{
    box-sizing: border-box;
    position: absolute;
    width: 316px;
    height: 50px;
    left: 0%;
    right: 0%;
    top: 150px;
    bottom: 0%;
    background: linear-gradient(90deg, #333333 0%, #626262 113.45%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none !important;
}
/* ..................... */

/* Used for AboutUS-homepage */
.Aboutus{
    height: 500px;
}
.Aboutusleftcontainer{
    position: absolute;
    width: 612px;
    height: 465px; 
    left: 183px;
}
.AboutusTitlecon{
    margin-top: 20%;
    margin-left: 2%;
}
.Aboutustextcontainer{
    width:479px;
    height: 216px;
}
.aboutushr {
    background:#D9D9D9;
    position:relative;
    height:3px;
    width: 28%;
    margin-bottom: 2%;
}
.aboutushr:before {
    content:'';
    background:#DD1180;
    width:30%;
    height:3px;
    position:absolute;    
}
.AboutusJON{
    margin-left: 2%;
}
p.aboutusjontext{
    color: #f32105;
    font-weight: 600;
    font-size:18px;
    line-height: 27px;
}
.Aboutusrightcontainer{
    box-sizing: border-box;
    position: absolute;
    width: 612px;
    height: 465px;
    left: 50%;
    top: 113%; 
}
.Aboutusimgcontainer{
    width: 612px;
    height: 465px;
    border:3px solid;
    border-radius: 10px;
    border-image: linear-gradient(45deg,#A259FF, #FF7262)1;
}
.Aboutusimg{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
/* ................ */
/* Used for Ourservices-homepage */
.Ourservices{
    height: 730px;
    width: 100%;
    position: absolute;
    top:1490px;
    left: 0px;
    background: #E7E8F2;
}
.Ouservicestitle{
    text-align: center;
    position: absolute;
    top: 83px;
    left:45%
}
.ourservicehr{
    background:#D9D9D9;
    position:relative;
    height:3px;
    width: 100%;
    margin-bottom: 2%;
}
.ourservicehr:after{
    content:'';
    background:#DD1180;
    width:25%;
    height:3px;
    position:absolute; 
    left: 40px;
}
.ourservicehr:before{
    content:'';
    background:#90213B;
    width:25%;
    height:3px;
    position:absolute;
    left: 94.5px;
}
.Ouservicesimgcontainer{
    display: flex;
    /* width: 1440px; */
}
.Ourservicesimg{
    position: relative;
    width: 20%;
    height: 484px;
    top:180px;
    left: 16%;
    justify-content: space-around;
    float: left;
    margin-right: 5%;
}
.OSIMG{
    border-radius: 10px;
    position: absolute;
}
.OSIMGtext{
    color: #FFFFFF;
    position: absolute;
    height: 39px;
    left: 15px;
    top: 400px;
}
/* ............... */
/* Used for Product-homepage */
.Product{
    height: 557px;
    width: 100%;
    position: absolute;
    top: 2220px;
    left: 0px;
    background: linear-gradient(90.21deg, #DD1180 -22.82%, #203867 99.79%);
}
.Producttitle{
    text-align: center;
    position: absolute;
    top: 83px;
    left:47%;
}
.ProductTitle{
    color: #FFFFFF;
}
.Producthr{
    background:#D9D9D9;
    position:relative;
    height:3px;
    width: 100%;
    margin-bottom: 2%;
}
.Producthr:after{
    content:'';
    background:#FF7262;
    width:30%;
    height:3px;
    position:absolute; 
    left: 25.5px;
}
.Producthr:before{
    content:'';
    background:#A259FF;
    width:30%;
    height:3px;
    position:absolute;
    left: 70px;
}
.ProductSubTitle{
    position: absolute;
    top: 150px; 
    left: 35%; 
    color: #FFFFFF;
}
.ProductContainer{
    display: flex;
    position: absolute;
    top: 210px;
    left:16% ;
}
.productcon1{
    height: 320px;
    width: 19%;
}
.productcon2{
    height: 320px;
    width: 35%;
    margin-top:2.5%;
    border: white 2px solid;
    border-radius: 10px;
    margin-left: 5%;
}
.productcon3{
    height: 320px;
    width: 20%;
    margin-left: 4%;
}
.productcon1title{
    color: #FFFFFF;
}
.productcon1text{
    margin-top: 10%;
    color: #FFFFFF;
}
.productbutton{
    background:none !important;
    border: white 2px solid !important;
    width: 160px;
    height: 50px;
    margin-top: 10%;
    text-align: center !important;
}
.productbuttonicon{
    content: "";
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}
/* ........................ */
/* Used for Letsgo */
.Letsgo{
    height: 1200px;
    width: 100%;
    background: #E7E8F2;
    position: absolute;
    top:2790px;
}
.Letsgotitle{
    text-align: center;
    position: absolute;
    top: 83px;
    left:47%;
}
.LetsgoTitle{
    color: #333333;
}
.Letsgohr{
    background:#D9D9D9;
    position:relative;
    height:3px;
    width: 100%;
    margin-bottom: 2%;
}
.Letsgohr:after{
    content:'';
    background:#FF7262;
    width:30%;
    height:3px;
    position:absolute; 
    left: 27px;
}
.Letsgohr:before{
    content:'';
    background:#A259FF;
    width:30%;
    height:3px;
    position:absolute;
    left: 64px;
}
.LetsgoCardContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap:40px;
    position: absolute;
    justify-content: space-between;
    top:110px;
    left: 9.5%;
    padding: 20px;
    margin-left: 1%;
    margin-inline-end: 1%;
    /* width: 1440px; */

}
.Letsgocard{
    width:340px;
    height: 265px;
    background-color: #FFFFFF;
    justify-content: space-around;
    margin-top: 10%;
    border-radius: 10px;
}
.Letsgocard:hover{
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
}
/* .Letsgocard:nth-child(even){margin-left: 15%;margin-right: 2%;}
.Letsgocard:nth-child(odd){margin-right: 15%;margin-left: 2%;} */

.Letsgocardicon{
    width:20px;
    height: 26px;
    position: relative;
    top: 13px;
    left: 20px;
}
.Letsgocardiconimg{
    border-radius: 0%;
}
.Letsgohr1{
    content: "";
    background:linear-gradient(45deg,#A259FF -22.82%,#FF7262 99%);
    position:relative;
    height:2px;
    width: 215px;
    top:25px;
}
.Letsgocardtitle{
    position: relative;
    top:60px;
    left: 20px;
    width: 100px;
    height: 50px;
}
.Letsgobutton{
    box-sizing: border-box;
    position: relative;
    width: 120px;
    height: 35px;
    left: 20px;
    right: 0%;
    top: 100px;
    bottom: 0%;
    background: linear-gradient(89.91deg, #DD1180 0.05%, #EC6A21 107.17%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    display: flex;
    color: #F5F5F5;
    border: none !important;
    opacity: 0.5;
}
.Letsgobutton:hover{
    opacity: 1;
}
.Letsgocardimages{
    width: 160px;
    height: 267px;
    border-width: 20px;
    border-radius: 100%;
    position: relative;
    left: 181px;
    top: -113.5px;
}
.Letsgoseeall{
    position: absolute;
    top:1100px;
    left: 49.5%;
}




